body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

dialog {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

dialog h1 {
    font-size: 24px;
    margin-top: 0;
}

dialog h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

dialog input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

dialog button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

dialog button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #007bff;
}


dialog button:hover {
    background-color: #0056b3;
}
